* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Lato;
}

html nav {
    font-family: 'Bebas Neue';
}

h1 {
    font-weight: 650;
    text-align: center;
    color: white;
    margin-top: 11%;
    text-transform: uppercase;
    font-size: 100px;
    text-shadow: 5px 5px 5px black;
}

.background {
    background-image: url('portfolio-background2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.navigation {
    text-transform: uppercase;
    font-weight: 400;
    margin: 20px 20px 0;
    font-size: 35px;
}


.navigation ul {
    list-style: none;
    text-align: center;
    word-spacing: 550px;
}

.navigation li {
    display: inline-block;
    text-shadow: 2px 2px 2px black;

}

.navigation a {
    color: white;
    text-decoration: none;
}

.navigation a:hover {
    opacity: 0.85;
    text-shadow: none;
}

.description {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 25px;
    text-align: center;
    color: white;
    word-spacing: 15px;
    opacity: 0.8;
    text-shadow: 1px 1px 2px black;
}

.image-alignment {
    text-align: center;
    margin-right: 35px;
    word-spacing: 55px;
}

.image-alignment li {
    display: inline-block;
}

.image-alignment a:hover {
    opacity: 0.7;
}

footer {
    margin-top: 11%;
}

footer a {
    color: gray;
    text-decoration: none;
    font-size:x-small;
}