* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Bebas Neue';
}

.background {
    background-image: url('portfolio-background2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.navigation {
    text-transform: uppercase;
    font-weight: 400;
    margin: 20px 20px 0;
    font-size: 35px;
}


.navigation ul {
    list-style: none;
    text-align: center;
    word-spacing: 550px;
}

.navigation li {
    display: inline-block;
    text-shadow: 2px 2px 2px black;

}

.navigation a {
    color: white;
    text-decoration: none;
}

.navigation a:hover {
    opacity: 0.7;
    text-shadow: none;
}

h1, h3, p {
    color: white;
}

.image-text-align {
    margin: 2% 5% 0 5%;
    border: 2px solid white;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 92px;
    padding-left: 10px;
}

.image-text-align2 {
    margin: 2% 5% 0 5%;
    border: 2px solid white;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 92px;
    padding-left: 10px;
}

a img:hover {
    opacity: 0.7;
}

footer {
    margin-top: 0.5%;
}

footer a {
    color: gray;
    text-decoration: none;
    font-size: x-small;
    font-family: Lato;
}